# =============================================
# Java Enterprise Showcase — Variables de Entorno
# Copia como .env y completa los valores
# =============================================

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=TU_PASSWORD_AQUI
DB_NAME=java_showcase

JWT_SECRET=CAMBIA_ESTO_POR_UN_SECRETO_SEGURO_MIN32CHARS
JWT_EXPIRES_IN=8h

PORT=3000
NODE_ENV=development
